option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:elasticbeanstalk:application:environment:
    USE_AWS: "True"
    FLASK_CONFIG: production
    AWS_REGION: eu-west-1
    S3_BUCKET: campus-lost-found-vikas-images
